.BoardList__item {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;

  width: 200px;

  min-height: 200px;
  min-width: 200px;

  font-size: 12px;

  .item__thumbnail {
    min-height: 100px;
    width: 100%;
    img {
      height: 100px;
      min-width: 100%;
      min-height: 100%;
    }
  }

  .item__contents {
    width: 100%;
    flex: 1;
  }

  strong {
    // &.activate{
    cursor: pointer;
    &.hover {
      text-decoration: underline;
    }
  }
}
