@import '../../components/common/PageTemplate/PageTemplate.scss';

nav.Nav__wrap{
    display:block;
    min-height:$navMinHeight;
    height:$navHeight;
    // overflow:hidden;

    .Nav__unordered{
        list-style:none;
        margin:0;
        padding:0;
        height:100%;

        white-space:nowrap;

        
     
    }
}



