.Editor__header{
    background-color:#228be6;
    height:4rem;
    padding-left:1rem;
    padding-right:1rem;
    display:flex;
    align-items:center;

    .submit{
        margin-left:auto;
    }
}