@import '../../../styles/utils.scss';

$desktop-l-width	: 1440px;
$tablet-l-width		: 1024px;
$tablet-s-width		: 768px;
$mob-l-width		: 640px;
$mob-m-width		: 425px;
$mob-s-width		: 375px;
 



$small:320px;
$medium:768px;
$large:1024px;
$wide:1400px;

$headerHeight:65px;

     .Header{
        display:flex;
        flex-flow:nowrap row;
        height:$headerHeight;
        font-size:14px;

        .Header__logo{
            // test 
            // background-color:$indigo;
            position:relative;
            width:240px;
            height:$headerHeight;
            line-height:$headerHeight;
    
            color:#000000;
            
            text-align:left;
    
            .Header__version{
                display:inline;
                position:absolute;
                right:3px;
                bottom:5px;
                line-height:5px;
            }
        }

        .Header_right{
            // test 
            // background-color:$violet;
            display:flex;
            flex-flow:nowrap row;
            
            // stretch (default) align-items 의 default는 stretch 이므로 지정시 꽉차게 나옴
        
            align-items:center;
            line-height:normal;
            width:calc(100% - 240px);
            height:$headerHeight;
        
            overflow:hidden;
        
            .Header_rightset{
                display:flex;
                align-items:center;
                height:100px;
                // margin-right:15px;
                .Search__icon{
                    fill:rgba(0,0,0,.54);
                    line-height:25px;
                    cursor:pointer;
                 
                }
            }
            .button{
                margin-left:auto;
            }

            
        }
    }